lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

.idea
config.json
test.js

.vscode/
typings/
jsconfig.json
azuqua-2.js
config-private.js
.eslintrc

azuqua.js/
docs/
out/